In [3]:
SELECT * from AnyFruits;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'AnyFruits'.